.countdown_wrapper {
  width: 100%;
  padding: 4rem 2rem;
  background-color: rgb(236, 211, 230);
  text-align: center;
}

.countdown_wrapper h2 {
  font-family: var(--font-great-vibes);
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 2rem;
}

.countdown_wrapper h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-weight: lighter;
    /* font-size: 1.8rem; */
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.countdown_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number {
  font-size: 3.5rem;
  font-weight: 600;
  color: rgba(184, 115, 167, 0.9);
}

.label {
  font-size: 1rem;
  color: #666;
  margin-top: 0.5rem;
}
